* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bxs-chevron-down {
  display: none;
}

@keyframes openMenu {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

/* .container {
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  margin: auto;
  background-color: red;
} */

.poster-card {
  margin: auto;
  width: 140px;
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 900px) {
  .bxs-chevron-down {
    display: inline-block;
    font-size: 24px;
    /* animation: openMenu 0.8s; */
    /* transform: rotate(180deg); */
  }
}
