* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bxs-chevron-down {
  display: none;
}

.active {
  background-color: #3f72af;
  color: #dbe2ef;
}

@keyframes openMenu {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@media only screen and (max-width: 900px) {
  .bxs-chevron-down {
    display: inline-block;
    font-size: 24px;
    /* animation: openMenu 0.8s; */
    /* transform: rotate(180deg); */
  }
}
